/* =============
 * Fulscreen map
 * =============
 */
.fulscreen-map 
{
	width: 100%;
	height: 100%;
	position: absolute!important;
	margin: 0;
	top:0;
	left:0;
}

#map-loading
{
	width: 100%;
	height: 100%;
	position: absolute!important;
	margin:0 auto;
	padding-top: 48%;
	top:0;
	left:0;
	text-align: center;
}

#tomylocationbutton
{
    padding: 9px;
    border-radius: 35px;
    color: #ff006894;
    border: #b5a0a030 2px solid;
}

/* =============
 * Address on map
 * =============
 */

#addressbar 
{
	z-index: 10;
	top: 80px;
	left: 0px;
    width: 100%;
    text-align: center;
}

#addressbar>span 
{
	background: #ff0e6c47;
	padding: 5px 10px;
	font-size:;
	text-align: center;
	margin:0 auto;
	font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 4px;
    display: block;
    width: fit-content;
}

/* =============
 * Bottom panels
 * =============
 */

.bottom-panel 
{
	width: 100%;
	height: 100%;
	position: fixed!important;
	top:100%;
}

.bottom-panel .bottom-inner
{
	padding: 10px;
	border-radius: 15px;
	height: 100%;
}

.bottom-panel .bottom-stick
{
	width: 40%;
    height: 6px;
    background: #000;
    opacity: 0.2;
    border-radius: 3px;
    margin: 9px auto;
}

.shadow-1
{
	-webkit-box-shadow: 0px 0px 29px -4px rgba(0,0,0,0.8); 
	box-shadow: 0px 0px 29px -4px rgba(0,0,0,0.8);
}

.bg-bluegray
{
	background: #E3EAF1;
}

.bottom-panel input 
{
	background: #f8f9fa;
    border-radius: 20px;
    border: 0px;
}

/* 
 * Card address
 */

#startpoint .card {
    border-radius: 20px;
}
.bottom-panel .card-point .card-body {
	padding: 10px;
	padding-top: 12px;
}

.bottom-panel .card-point .float-left {
	margin: 0 5px 0px -5px;
}

.bottom-panel #startpoint .badge {
	background-color: #ff0068!important;
}

.bottom-panel .card-point .address-container {
	margin-left: 35px;
}

.bottom-panel .card-point .badge {
	width: 26px;
    height: 26px;
    position: absolute;
    top: -4px;
    padding: 6px 8px;
    font-weight: bold;
    font-size: 15px;
}

#bottom-passanger .list-group-flush 
{
    border-radius: 20px;
    overflow: hidden;
}

/* 
 * Suggestions
 */

#way .letter {
	background: #ff0068;
}

.bottom-panel .cancel-button {
	position: absolute;
    right: 5px;
    top: -4px;
    color: #d0d0d0;
}

.bottom-panel #suggestions .cancel-button {
	display: none;
}

.bottom-panel #suggestions .letter {
	opacity: 0;
}

.bottom-panel #suggestions [data-level="house"] .letter {
	opacity: 1;
}



/* =============
 * Passenger mark
 * =============
 */
#meAsPassenger 
{
	width: 30px;
    height: 30px;
    z-index: 20!important;
    position: absolute;
    background: #fe2e7a;
	border: 0px solid #ccc;
	text-align: center;
	border-radius: 15px;
    width: 30px;
    height: 30px;
    opacity: 0.9;
    margin-top: -15px;
    z-index: 20!important;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    padding-top: 4px;
}

#meAsPassengerShadow 
{
	width: 1px;
    height: 1px;
    margin-top: -60px;
	background: transparent;
	opacity: 0.2;
	z-index: 10;
	-webkit-box-shadow: 2px 42px 26px 12px rgba(0,0,0,0.71); 
	box-shadow: 2px 42px 26px 12px rgba(0,0,0,0.71);
}


/* 
 * =============
 * Mode Switcher
 * =============
 */

#mode-switcher
{
	/*background: url(../img/radio/black3_35_glass.png);*/
    width: 95px;
    height: 35px;
    margin-top: 9px;
    margin-left: -63px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block; 

}

#mode-switcher #img1 
{
	transform: translate3d(0px, 0px, 0px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    height: 34px;
	width: 60px;
	z-index: 20;
}

#mode-switcher #img1 #color 
{
	height: 34px;
	width: 40px;
	background: red;
	z-index: 0;
	position: fixed!important;
	top:0;

	transform: translate3d(0%, 0%, 0px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#mode-switcher #img1 svg
{
	width: 97px;
	height: 34px;
	/*-webkit-mask-image: url(../img/radio/black3_35_glass.png);
    -webkit-mask-size: cover;
    stroke: #000;
    stroke-width: 164px;*/
}

#mode-switcher>#img1>svg>#masked 
{
	mask: url(#maskLayer);
}

/* 
 * =============
 * Modals and Notify
 * =============
 */


.notify.simple-text 
{
	position: absolute;
	z-index: 10;
	top: 80px;
	left: 0px;
    width: 100%;
    text-align: center;
    top: 38%;
}

.notify.simple-text > span
{
	background: #ff0e6c47;
	padding: 5px 10px;
	font-size:15px;
	text-align: center;
	margin:0 auto;
	font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 4px;
    display: block;
    width: fit-content;
}

.buttonPlace
{
	position: absolute;
    left: 0;
    z-index: 30;
    display: block;
    width: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 25px;
    height: 100%;
    -webkit-box-shadow: 0px 0px 29px -4px rgba(0,0,0,0.8); 
	box-shadow: 0px 0px 29px -4px rgba(0,0,0,0.8);
}

.buttonPlace .button
{
	width: 100%;
}

/* 
* Global dialog
*/
.global-dialog
{
	position: absolute;
    left: 0;
    z-index: 30;
    display: block;
    width: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 25px;
    height: 100%;
    -webkit-box-shadow: 0px 0px 29px -4px rgba(0,0,0,0.8); 
	box-shadow: 0px 0px 29px -4px rgba(0,0,0,0.8);
}

.global-dialog-inner
{

}

.global-dialog-buttons 
{

}

/* 
 * =============
 * Animations
 * =============
 */

@keyframes do-levitation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0.5em);
  }
}

.error-animation {
  animation:dragged 0.5s;
  transform-origin:right;
}
@keyframes dragged {
  25% { 
    transform-origin:right; 
    transform:translateX(20px);
  }
  50% { 
    transform-origin:right;
    transform:translateX(-20px); 
  }
  75% { 
    transform-origin:right; 
    transform:translateX(10px); 
  }
  100% { 
    transform-origin:right; 
    transform:translateX(-10px); 
  }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* 
 * =============
 * Helpers
 * =============
 */
.spin 
{
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

.levitate {
  animation: do-levitation 1.2s alternate ease-in-out infinite;
}

.grayscale * {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
/* 
 * =============
 * Left menu btn
 * =============
 */

.figure-menu .floating-btn {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 38px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 2;
    right: 0px;
    bottom: 0px;
    position: relative;
    top: -45px;
    left: 37px;
}
.figure-menu .floating-btn i {
    font-size:20px;
    line-height: 28px;
}


/* 
 * =============
 * Date picker
 * =============
 */

 #picker-place
 {
    margin-bottom: 15px;
 }

.picker.picker-open.picker-opened 
{
    border-radius: 15px!important;
}


/* 
 * =============
 * Log
 * =============
 */

#log
{
    background: #000;
    color: #23e400;
    overflow: hidden;
    overflow-y: scroll;
    height: inherit;
    overflow-x: scroll;
    padding: 3px 3px 3px 1px;
}

#log > div
{
	font-size: 11px;
    line-height: 9px;
    white-space: nowrap;
    margin-bottom: 2px;
}

#log > div.log-error
{
	color: red;
}
